.navbar {
    display:none;
}
#home-wrapper {
    min-height: 100%;
    background: #fcfcfc;
    width: 100%;
}
#header {
    background-color: #202528;
    color: #fff;
    min-height: 200px;
    background-image: url("assets/img/home_header_eye.png");
    background-position: center;
    background-size:100px;
    background-repeat: no-repeat; 
    /*transition: .3s;*/
    animation: pulse 2s ease-in-out;
    -webkit-animation-iteration-count: infinite;
}
#header:hover {
    animation: none;
}

@keyframes pulse {
    0% {
        background-size:100px;
    }
    50% {
        background-size:120px;
    }
    100% {
        background-size:100px;
    }
}

#main {
    min-height: 400px;
    padding: 15px 0;
}
#main h1 {
    text-align: center;
    padding: 15px;
    border-radius: 4px;
}
.infobox {
    width: 100%;
    text-align: center;
    font-style: italic;
}
.separator_line {
    height: 1px;
    width: 70%;
    margin: 20px auto;
    background: -moz-linear-gradient(left,  rgba(53,53,53,0.6) 0%, rgba(53,53,53,1) 50%, rgba(53,53,53,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(53,53,53,0.6) 0%,rgba(53,53,53,1) 50%,rgba(53,53,53,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(53,53,53,0.6) 0%,rgba(53,53,53,1) 50%,rgba(53,53,53,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99353535', endColorstr='#99353535',GradientType=1 ); /* IE6-9 */
}
.squarebox {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}
.square {
    width: 50%;
    padding: 0;
    transition: .3s;
}
.squarecontent:hover{
    box-shadow: 0 0 3px #3e3e3e;
    transition: .3s;
    cursor: pointer;
}
.squarecontent {
    height: 150px;
    padding: auto;
    line-height: 150px;
    text-align: center;
    transition: .3s;
    position: relative;
    background-position-x: center;
    background-position-y: top 25px;
    background-size: 100px;
    background-repeat: no-repeat;
}
.squarecontent:hover {
    transition: .3s;
    /*background-size: 50px;
    background-position-y: top 50%;
    background-position-x: left 25px;*/
    background-size: 120px;
    background-position-y: top 15px;
    /*background-position-x: left 25px;*/
}
.squarecontent_me {
    background-image: url("assets/img/navigation_img/me.png");
    transition: .3s;
}
.squarecontent_me:hover {
    background-image: url("assets/img/navigation_img/me_color.png");
}
.squarecontent_music {
    background-image: url("assets/img/navigation_img/music.png");
    transition: .3s;
}
.squarecontent_music:hover {
    background-image: url("assets/img/navigation_img/music_color.png");
}
.squarecontent_sports {
    background-image: url("assets/img/navigation_img/american-football.png");
}
.squarecontent_sports:hover {
    background-image: url("assets/img/navigation_img/american-football_color.png");
}
.squarecontent_coding {
    background-image: url("assets/img/navigation_img/coding.png");
}
.squarecontent_coding:hover {
    background-image: url("assets/img/navigation_img/coding_color.png");
}
.squarecontent_travelling {
    background-image: url("assets/img/navigation_img/travelling.png");    
}
.squarecontent_travelling:hover {
    background-image: url("assets/img/navigation_img/travelling_color.png");
}
/*.squarecontent:hover .info_preview {
    display: block;
    transition: .3s;
}*/
.info_preview {
    /*position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    background: red;
    transition: .3s;*/
    display: none;
}
.footer {
    /*height: 60px;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-image: url("assets/img/footer_tesseract.png");*/
}