<div id="home-wrapper">
  <div id="header" class="container-fluid"></div>
  <div id="main" class="container-fluid">
    <div id="titlebox">
      <h1>Elias Douglas</h1>
      <div class="infobox">
        <q>
          I welcome you to my little kingdom...
        </q>
      </div>
    </div>
    <div class="separator_line"></div>
    <div id="" class="squarebox container row">
      <!--<div class="square col-12">
        <div class="squarecontent squarecontent_me" (click)="navigateTo('me')">
          
        </div>  
      </div>-->
      <div class="square col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="squarecontent squarecontent_music" (click)="navigateTo('music')">
          <div class="info_preview">
            info preview
          </div>
        </div>  
      </div>
      <div class="square col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="squarecontent squarecontent_sports" (click)="navigateTo('sports')">
          <!--Sports-->
        </div>  
      </div>
      <div class="square col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="squarecontent squarecontent_coding" (click)="navigateTo('coding')">
          <!--Coding-->
        </div>  
      </div>
      <div class="square col-12 col-lg-6 col-md-6 col-sm-12">
        <div class="squarecontent squarecontent_travelling" (click)="navigateTo('travelling')">
          <!--Travelling-->
        </div>  
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>